<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skiya.sportzplatform.mapper.LookupTypeMapper">
  <resultMap id="BaseResultMap" type="com.skiya.sportzplatform.domain.LookupType">
    <id column="lookup_type" jdbcType="VARCHAR" property="lookupType" />
    <result column="lookup_desc" jdbcType="VARCHAR" property="lookupDesc" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sportzplatform.lookup_type
    where lookup_type = #{lookupType,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" keyColumn="lookup_type" keyProperty="lookupType" parameterType="com.skiya.sportzplatform.domain.LookupType" useGeneratedKeys="true">
    insert into sportzplatform.lookup_type (lookup_desc)
    values (#{lookupDesc,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.skiya.sportzplatform.domain.LookupType">
    update sportzplatform.lookup_type
    set lookup_desc = #{lookupDesc,jdbcType=VARCHAR}
    where lookup_type = #{lookupType,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select lookup_type, lookup_desc
    from sportzplatform.lookup_type
    where lookup_type = #{lookupType,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select lookup_type, lookup_desc
    from sportzplatform.lookup_type
  </select>
</mapper>